.input-field {
    padding: 3px;
    margin: 10px auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    position: relative;

    & > label {
        color: black;
        margin-bottom: 10px;
    }

    & > input {
        border: 1px solid #edebe9;
        outline: none;
        background: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    & > .error {
        color: #d83b01;
        position: absolute;
        bottom: -18%;
    }
}
